@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #a6a6a6;
  padding: 8px;
  text-align: left;
  font-family: Roboto;
}

th {
  background-color: #ffffff64;
}

.ThreadID {
  text-align: center;
  background-color: white;
}

.Snippet {
  text-align: center;
  background-color: white;
}

html {
  font-family: Roboto;
}

.title {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

.UNREAD {
  font-weight: 900;
  background-color: #d7d7d7;
  color: black;
}

html {
  background-image: url('abstract-white-gradient-background-free-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.READ {
  background-color: white;
  color: rgb(44, 44, 44);
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(45deg, #00008b, #00009a);
}

.felipa-regular {
  font-family: 'Felipa', serif;
  font-size: x-large;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  color: transparent;
}

.button {
  border-radius: 12px;
  color: black;
  background-image: url('Open enveloppe.png');
  background-size: cover;
}
