table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #a6a6a6;
  padding: 8px;
  text-align: left;
  font-family: Roboto;
}

th {
  background-color: #ffffff64;
}

.ThreadID {
  text-align: center;
  background-color: white;
}

.Snippet {
  text-align: center;
  background-color: white;
}

html {
  font-family: Roboto;
}

.title {
  text-align: center;
  text-decoration: underline;
}

.UNREAD {
  font-weight: bold;
  background-color: #d7d7d7;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #475ef2;
  border-radius: 50%;
  display: inline-block;
}

html {
  background-image: url('abstract-white-gradient-background-free-vector.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.READ {
  background-color: white;
}
